.song {
  background-color: #872341;
  border: 2px solid salmon;
  color: #F05941;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

.heading {
  background-color: #872341;
  border: 2px solid salmon;
  color: #F05941;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

p {
  margin: 2px;
}

h2 {
  margin: 2px;
}

body {
  background-color: #22092C;
  color: #F05941;
}

.spacer {
  height: 10px;
}

.repertoire {
  display: flex;
  float: left;
  flex-direction: column;
  border: 2px solid salmon;
  width: 42%;
  border-radius: 20px;
  background-color: #BE3144;
  padding: 10px;
  box-shadow: 3px 3px 3px black;
}

#setlist {
  border: 2px solid salmon;
  display: flex;
  float: right;
  flex-direction: column;
  width: 42%;
  background-color: #BE3144;
  border-radius: 20px;
  flex-basis: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px black;
}

.dragging {
  opacity: 1;
  cursor: grabbing;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  border: 1px solid black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}